<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="false"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/TicTacToe"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="Optimization"/>
        <setEntry value="de.enflexit.awb.help"/>
        <setEntry value="de.enflexit.awb.samples.Examples"/>
        <setEntry value="de.enflexit.awb.samples.GameOfLife"/>
        <setEntry value="de.enflexit.awb.samples.PlugIn"/>
        <setEntry value="de.enflexit.awb.samples.SimService"/>
        <setEntry value="de.enflexit.awb.samples.db"/>
        <setEntry value="de.enflexit.awb.samples.ws.api"/>
        <setEntry value="de.enflexit.awb.samples.ws.restapi.client"/>
        <setEntry value="de.enflexit.awb.samples.ws.restapi.server"/>
        <setEntry value="de.enflexit.awb.ws.client"/>
        <setEntry value="de.enflexit.awb.ws.core"/>
        <setEntry value="de.enflexit.awb.ws.core.db"/>
        <setEntry value="de.enflexit.awb.ws.core.ui"/>
        <setEntry value="de.enflexit.awb.ws.dynSiteApi"/>
        <setEntry value="de.enflexit.awb.ws.restapi"/>
        <setEntry value="de.enflexit.awb.ws.swagger2x"/>
        <setEntry value="de.enflexit.db.mariaDB"/>
        <setEntry value="de.enflexit.db.mySQL"/>
        <setEntry value="de.enflexit.ea.core"/>
        <setEntry value="de.enflexit.ea.core.aggregation"/>
        <setEntry value="de.enflexit.ea.core.awbIntegration"/>
        <setEntry value="de.enflexit.ea.core.blackboard"/>
        <setEntry value="de.enflexit.ea.core.blackboard.db"/>
        <setEntry value="de.enflexit.ea.core.centralExecutiveAgent"/>
        <setEntry value="de.enflexit.ea.core.configuration"/>
        <setEntry value="de.enflexit.ea.core.configuration.eom"/>
        <setEntry value="de.enflexit.ea.core.dashboard"/>
        <setEntry value="de.enflexit.ea.core.dataModel"/>
        <setEntry value="de.enflexit.ea.core.simulation"/>
        <setEntry value="de.enflexit.ea.core.simulation.db"/>
        <setEntry value="de.enflexit.ea.core.validation"/>
        <setEntry value="de.enflexit.ea.deployment"/>
        <setEntry value="de.enflexit.ea.electricity"/>
        <setEntry value="de.enflexit.ea.electricity.powerFlowCalculation"/>
        <setEntry value="de.enflexit.ea.electricity.powerFlowEstimation"/>
        <setEntry value="de.enflexit.ea.electricity.sensor"/>
        <setEntry value="de.enflexit.ea.electricity.transformer"/>
        <setEntry value="de.enflexit.ea.lib.matrixCalculations"/>
        <setEntry value="de.enflexit.ea.ops"/>
        <setEntry value="de.enflexit.ea.prosumer"/>
        <setEntry value="de.enflexit.ea.samples.prototype"/>
        <setEntry value="de.enflexit.ea.topologies"/>
        <setEntry value="de.enflexit.ea.ui"/>
        <setEntry value="de.enflexit.eom.awbAdapter"/>
        <setEntry value="de.enflexit.eom.core"/>
        <setEntry value="de.enflexit.eom.database"/>
        <setEntry value="de.enflexit.eom.expression"/>
        <setEntry value="de.enflexit.eom.help"/>
        <setEntry value="de.enflexit.eom.ml.JPMML"/>
        <setEntry value="de.enflexit.eom.ml.Weka"/>
        <setEntry value="de.enflexit.eom.ml.client"/>
        <setEntry value="de.enflexit.eom.ml.converter"/>
        <setEntry value="de.enflexit.eom.ml.core"/>
        <setEntry value="de.enflexit.eom.ml.samples.PVLearningService"/>
        <setEntry value="de.enflexit.eom.ml.tablesaw"/>
        <setEntry value="de.enflexit.eom.optimization"/>
        <setEntry value="de.enflexit.meo.core"/>
        <setEntry value="de.enflexit.meo.db"/>
        <setEntry value="de.enflexit.meo.help"/>
        <setEntry value="de.enflexit.meo.modellica"/>
        <setEntry value="de.enflexit.optimization.core"/>
        <setEntry value="de.enflexit.optimization.cplex"/>
        <setEntry value="de.enflexit.optimization.cplex.linux"/>
        <setEntry value="de.enflexit.optimization.cplex.win"/>
        <setEntry value="de.enflexit.web.ems.core"/>
        <setEntry value="de.enflexit.web.portal.core"/>
        <setEntry value="net.agenthygrid.samples.energyAgent"/>
        <setEntry value="net.agenthygrid.samples.eom"/>
        <setEntry value="net.disego.lab.blackboard"/>
        <setEntry value="net.disego.lab.imsOrder.dataModel"/>
        <setEntry value="net.disego.lab.imsOrder.simIntegration"/>
        <setEntry value="net.disego.lab.ws.imsOrder.server"/>
        <setEntry value="net.flexAqua.control"/>
        <setEntry value="net.flexAqua.dataModel"/>
        <setEntry value="net.flexAqua.eom.Blower"/>
        <setEntry value="net.flexAqua.eom.backupCoolingSystem"/>
        <setEntry value="net.flexAqua.eom.biogasTank"/>
        <setEntry value="net.flexAqua.eom.chpSystem"/>
        <setEntry value="net.flexAqua.eom.electricalGrid"/>
        <setEntry value="net.flexAqua.eom.flowSplitter"/>
        <setEntry value="net.flexAqua.eom.gasNetwork"/>
        <setEntry value="net.flexAqua.eom.gritClassifier"/>
        <setEntry value="net.flexAqua.eom.gritRemoval"/>
        <setEntry value="net.flexAqua.eom.heatStorageTank"/>
        <setEntry value="net.flexAqua.eom.hexSystem"/>
        <setEntry value="net.flexAqua.eom.highLoadBasin"/>
        <setEntry value="net.flexAqua.eom.multiRakeBarScreen"/>
        <setEntry value="net.flexAqua.eom.pumpingStationPit"/>
        <setEntry value="net.flexAqua.eom.screeningDewateringAndDischarge"/>
        <setEntry value="net.flexAqua.eom.screwPump"/>
        <setEntry value="net.flexAqua.eom.settlingTank"/>
        <setEntry value="net.flexAqua.eom.transportChannel"/>
        <setEntry value="net.optiflex.caex"/>
        <setEntry value="net.optiflex.eom.appliance"/>
        <setEntry value="net.optiflex.eom.chp"/>
        <setEntry value="net.optiflex.eom.electrolyzer"/>
        <setEntry value="net.optiflex.eom.hydrogenStorage"/>
        <setEntry value="net.optiflex.optimizer"/>
        <setEntry value="net.optiflex.planningAssistant"/>
        <setEntry value="net.optiflex.tkCement"/>
        <setEntry value="net.peak.agent.gridAgent"/>
        <setEntry value="net.peak.agent.mapperAgent"/>
        <setEntry value="net.peak.agent.marketAgent"/>
        <setEntry value="net.peak.agent.platformAgent"/>
        <setEntry value="net.peak.agent.prosumerAgent"/>
        <setEntry value="net.peak.agent.sglAgent"/>
        <setEntry value="net.peak.awb.distribution"/>
        <setEntry value="net.peak.datamodel"/>
        <setEntry value="net.peak.db.gridAgent"/>
        <setEntry value="net.peak.db.marketAgent"/>
        <setEntry value="net.peak.db.prosumerAgent"/>
        <setEntry value="net.peak.db.sgl"/>
        <setEntry value="net.peak.eom.battery"/>
        <setEntry value="net.peak.eom.ev"/>
        <setEntry value="net.peak.eom.heatPump"/>
        <setEntry value="net.peak.eom.photovoltaic"/>
        <setEntry value="net.peak.eom.slp"/>
        <setEntry value="net.peak.eom.windturbine"/>
        <setEntry value="net.peak.grid.export"/>
        <setEntry value="net.peak.samples.ea.prototype"/>
        <setEntry value="net.peak.samples.eom.prototype"/>
        <setEntry value="net.peak.samples.eom.simpleEV"/>
        <setEntry value="net.peak.samples.ontology"/>
        <setEntry value="net.peak.samples.ontologyDemo"/>
        <setEntry value="net.peak.samples.protocolDemo"/>
        <setEntry value="net.peak.samples.rest.client"/>
        <setEntry value="net.peak.samples.rest.server"/>
        <setEntry value="net.peak.samples.timingBehaviour"/>
        <setEntry value="net.peak.ws.grid.client"/>
        <setEntry value="net.peak.ws.grid.server"/>
        <setEntry value="net.peak.ws.ingo.client"/>
        <setEntry value="net.peak.ws.mapper.server"/>
        <setEntry value="net.peak.ws.market.client"/>
        <setEntry value="net.peak.ws.market.server"/>
        <setEntry value="net.peak.ws.prosumer.client"/>
        <setEntry value="net.peak.ws.prosumer.server"/>
        <setEntry value="net.peak.ws.sgl.client"/>
        <setEntry value="net.peak.ws.sgl.client.config"/>
        <setEntry value="net.peak.ws.sgl.server"/>
        <setEntry value="net.peak.ws.weather.meteomatics.client"/>
        <setEntry value="net.peak.ws.weather.openmeteo.client"/>
        <setEntry value="net.peak.ws.weather.solcast.client"/>
        <setEntry value="org.awb.env.maps"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/TicTacToe"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -project tictactoe"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="de.enflexit.awb.core.product"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcpg@default:default"/>
        <setEntry value="bcpkix*1.82.0@default:default"/>
        <setEntry value="bcprov*1.82.0@default:default"/>
        <setEntry value="bcutil*1.82.0@default:default"/>
        <setEntry value="com.github.weisj.jsvg@default:default"/>
        <setEntry value="com.google.errorprone.annotations@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.mysql.cj@default:default"/>
        <setEntry value="com.nimbusds.content-type@default:default"/>
        <setEntry value="com.nimbusds.nimbus-jose-jwt@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="com.sun.xml.bind.jaxb-core@default:default"/>
        <setEntry value="com.sun.xml.bind.jaxb-impl@default:default"/>
        <setEntry value="jakarta.activation-api*2.1.4@default:default"/>
        <setEntry value="jakarta.annotation-api*1.3.5@default:default"/>
        <setEntry value="jakarta.annotation-api*2.1.1@default:default"/>
        <setEntry value="jakarta.el-api*5.0.1@default:default"/>
        <setEntry value="jakarta.enterprise.cdi-api@default:default"/>
        <setEntry value="jakarta.enterprise.lang-model@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api@default:default"/>
        <setEntry value="jakarta.interceptor-api@default:default"/>
        <setEntry value="jakarta.persistence-api@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="jakarta.transaction-api*2.0.1@default:default"/>
        <setEntry value="jakarta.validation.jakarta.validation-api@default:default"/>
        <setEntry value="jakarta.ws.rs-api@default:default"/>
        <setEntry value="jakarta.xml.bind-api*3.0.1@default:default"/>
        <setEntry value="jakarta.xml.bind-api*4.0.4@default:default"/>
        <setEntry value="javassist@default:default"/>
        <setEntry value="lang-tag@default:default"/>
        <setEntry value="net.minidev.accessors-smart@default:default"/>
        <setEntry value="net.minidev.json-smart*2.6.0@default:default"/>
        <setEntry value="oauth2-oidc-sdk@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.commons-codec*1.19.0@default:default"/>
        <setEntry value="org.apache.commons.commons-compress@default:default"/>
        <setEntry value="org.apache.commons.commons-io@default:default"/>
        <setEntry value="org.apache.commons.commons-logging@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.text@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@2:true"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.commonmark@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.compare@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers@default:default"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@1:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.ide@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.progress@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.swt.win32@default:false"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.event@1:true"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@default:default"/>
        <setEntry value="org.eclipse.equinox.http.service.api*1.2.102.v20250520-0629@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.operations@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk.scheduler@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.updatechecker@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.region@default:false"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.security.win32@default:false"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.equinox.slf4j@default:default"/>
        <setEntry value="org.eclipse.equinox.transforms.hook@default:false"/>
        <setEntry value="org.eclipse.equinox.weaving.hook@default:false"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.annotation@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.osgi.alpn.fragment@default:false"/>
        <setEntry value="org.eclipse.jetty.servlet-api@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.notifications@default:default"/>
        <setEntry value="org.eclipse.jface.text@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.orbit.xml-apis-ext@default:default"/>
        <setEntry value="org.eclipse.osgi*3.23.200.v20250812-1847@1:true"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services*3.12.300.v20250707-1221@default:default"/>
        <setEntry value="org.eclipse.rcp@default:default"/>
        <setEntry value="org.eclipse.swt.svg@default:false"/>
        <setEntry value="org.eclipse.swt.win32.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.ui.editors@default:default"/>
        <setEntry value="org.eclipse.ui.forms@default:default"/>
        <setEntry value="org.eclipse.ui.ide@default:default"/>
        <setEntry value="org.eclipse.ui.navigator@default:default"/>
        <setEntry value="org.eclipse.ui.net@default:default"/>
        <setEntry value="org.eclipse.ui.views@default:default"/>
        <setEntry value="org.eclipse.ui.win32@default:false"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.glassfish.corba.glassfish-corba-omgapi@default:false"/>
        <setEntry value="org.glassfish.hk2.api@default:default"/>
        <setEntry value="org.glassfish.hk2.external.aopalliance-repackaged@default:default"/>
        <setEntry value="org.glassfish.hk2.locator@default:default"/>
        <setEntry value="org.glassfish.hk2.osgi-resource-locator@default:default"/>
        <setEntry value="org.glassfish.hk2.utils@default:default"/>
        <setEntry value="org.jvnet.mimepull@default:default"/>
        <setEntry value="org.objectweb.asm*9.8.0@default:default"/>
        <setEntry value="org.objectweb.asm.commons*9.8.0@default:default"/>
        <setEntry value="org.objectweb.asm.tree*9.8.0@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis*9.8.0@default:default"/>
        <setEntry value="org.objectweb.asm.util*9.8.0@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.http.whiteboard@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function*1.2.0.202109301733@default:default"/>
        <setEntry value="org.osgi.util.promise*1.3.0.202212101352@default:default"/>
        <setEntry value="org.postgresql.jdbc@default:default"/>
        <setEntry value="org.sat4j.core@default:default"/>
        <setEntry value="org.sat4j.pb@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="org.yaml.snakeyaml@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="wrapped.com.github.stephenc.jcip.jcip-annotations@default:default"/>
        <setEntry value="wrapped.es.urjc.etsii.grafo.scimark@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="de.enflexit.awb.baseOntology@default:default"/>
        <setEntry value="de.enflexit.awb.baseUI@default:default"/>
        <setEntry value="de.enflexit.awb.bgSystem@default:default"/>
        <setEntry value="de.enflexit.awb.core@default:default"/>
        <setEntry value="de.enflexit.awb.desktop.swt@default:default"/>
        <setEntry value="de.enflexit.awb.desktop@default:default"/>
        <setEntry value="de.enflexit.awb.remoteControl@default:default"/>
        <setEntry value="de.enflexit.awb.timeSeriesDataProvider@default:default"/>
        <setEntry value="de.enflexit.common.flatlaf@default:default"/>
        <setEntry value="de.enflexit.common@default:default"/>
        <setEntry value="de.enflexit.connector.core.ui@default:default"/>
        <setEntry value="de.enflexit.connector.core@default:default"/>
        <setEntry value="de.enflexit.connector.examples.mqtt@default:default"/>
        <setEntry value="de.enflexit.connector.mqtt.awbRemote@default:default"/>
        <setEntry value="de.enflexit.connector.mqtt@default:default"/>
        <setEntry value="de.enflexit.connector.nymea@default:default"/>
        <setEntry value="de.enflexit.connector.opcua@default:default"/>
        <setEntry value="de.enflexit.db.derby@default:default"/>
        <setEntry value="de.enflexit.db.hibernate@default:default"/>
        <setEntry value="de.enflexit.db.postgres@default:default"/>
        <setEntry value="de.enflexit.db.ui@default:default"/>
        <setEntry value="de.enflexit.expression@default:default"/>
        <setEntry value="de.enflexit.geography@default:default"/>
        <setEntry value="de.enflexit.jade.tools@default:default"/>
        <setEntry value="de.enflexit.jade@default:default"/>
        <setEntry value="de.enflexit.jaxb.impl.binding@default:false"/>
        <setEntry value="de.enflexit.jfreechart@default:default"/>
        <setEntry value="de.enflexit.language@default:default"/>
        <setEntry value="de.enflexit.logging@2:true"/>
        <setEntry value="de.enflexit.ml.core@default:default"/>
        <setEntry value="de.enflexit.ml.pmml@default:default"/>
        <setEntry value="de.enflexit.oidc.ui@default:default"/>
        <setEntry value="de.enflexit.oidc@default:default"/>
        <setEntry value="de.enflexit.oshi@default:default"/>
        <setEntry value="org.agentgui.lib.jung@default:default"/>
        <setEntry value="org.asSchool.ttt.agentExample@default:default"/>
        <setEntry value="org.asSchool.ttt.agentPlayer@default:default"/>
        <setEntry value="org.asSchool.ttt.agentPlayerExample@default:default"/>
        <setEntry value="org.asSchool.ttt.brainy@default:default"/>
        <setEntry value="org.asSchool.ttt.dataModel@default:default"/>
        <setEntry value="org.asSchool.ttt.gameMaster@default:default"/>
        <setEntry value="org.asSchool.ttt.humanPlayer@default:default"/>
        <setEntry value="org.asSchool.ttt.ui@default:default"/>
        <setEntry value="org.awb.env.networkModel@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}\configuration\config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
